# Copy this file to ".env" (this file is git-ignored) if you want to override docker-compose defaults.
#
# --- Work service PostgreSQL ---
WORK_DB_USER=work_user
WORK_DB_PASSWORD=work_password
WORK_DB_NAME=work_db
WORK_DB_HOST=postgres-work
WORK_DB_PORT=5432
#
# --- File service PostgreSQL ---
FILE_DB_USER=file_user
FILE_DB_PASSWORD=file_password
FILE_DB_NAME=file_db
FILE_DB_HOST=postgres-file
FILE_DB_PORT=5432
#
# --- Analysis service PostgreSQL ---
ANALYSIS_DB_USER=analysis_user
ANALYSIS_DB_PASSWORD=analysis_password
ANALYSIS_DB_NAME=analysis_db
ANALYSIS_DB_HOST=postgres-analysis
ANALYSIS_DB_PORT=5432
#
# --- RabbitMQ ---
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
#
# --- MinIO ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

